@charset "UTF-8";

@font-face {
    font-family: 'slipknot';
    src: url(fontes/Sickness.ttf);
}
 
:root{

    --a:#8c5d43;
    --b:#c51505;
    --c:#ff2a00;
    --d:#5e1a23;
    --e:#100b0c;
    --vermelho-claro:#fa5938;
    --cordeletra:#13110e;
    --cormain: #d2e2ef;

}
*{
    padding: 0px;
    margin: 0px;
} 

body{
    height: 100vh;
    background: black url('imagens/fundo-body.jpg') center center no-repeat fixed;
    background-size: cover;
}

p{
    
    line-height: 1.5em;
    color: var(--cordeletra);
}

header{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient( to top, var(--c), var(--e));
}

header > h1{
    padding-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 4.3em;
    font-family: 'slipknot',  Arial, Helvetica, sans-serif;
    text-align: center;
}

header > p{
    color: black;
    padding-top: 5px;
    font-size: 1.3em;
    text-align: center;
}

nav{
    box-shadow: 0px 7px 10px black;
    padding: 10px;
    background-color: var(--b);
}

nav > a{
    color: black;
    padding: 10px;
    text-decoration:  none;

}

nav a:hover{
    border-radius: 15px;
    background-color: var(--vermelho-claro);
    transition: .5s;
}

main{
    box-shadow: 3px 8px 20px black;;
    margin: auto;
    background-color: var(--cormain);
    min-width: 320px;
    max-width: 800px;
}

main h1, h2, p{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
main h1{
    font-size: 1.8em;
    text-indent: 10px ;
}

main h2{
    text-indent: 10px;
}
main p{
    margin-left: 7px;
    margin-right: 7px;
    text-align: justify;
    text-indent: 20px;
}

footer{
    background-color: var(--b);
}

footer > p{
    padding: 3px;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    text-align: center;
}

footer a:hover{
    text-decoration: underline;
    background-color: var(--vermelho-claro);
}



.foto{
    padding: 10px 0px 10px 0px;
    text-align: center;
    display: block;
}

.slip {
    color: var(--cordeletra);
    text-decoration: none;
    font-family: 'slipknot', Arial, Helvetica, sans-serif;
}

.slip:hover{
    text-decoration: underline;
}